body{
    text-align: center;
    color: #113333;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif
}

.cabecera{
    background-color: blue;
    font-weight: bold;
    font-size: 30px;
    color: white;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0,);
    padding: 0.5em;
    margin: 0;
    text-align: left;
}

.cabecera #tagline {
    margin: 0 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

.container{
    width: 70%;
    padding: 1em;
    border: 1px solid black;
}