body{
    text-align: center;
    color: #113333;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    width: 70%;
    padding: 1em;
    border: 1px solid black;
}